@import '../../assets/saasConfig.scss';

.content-container {
  .pre {
    button {
      height: 100%;
      width: 100%;
      border-radius: 50%;

      &:hover {
        cursor: pointer;
      }
    }
  }
}