@import '../../assets/saasConfig.scss';
.slice {
  z-index: 150;
  position: absolute;
  top: calc(50% - #{$sliceOffeset});
  height: $sliceHeight;
  left: 50%;
  width: 50%;
  color: $white;
  text-align: right;
  padding-right: 10px;
  display: block;
  transform-origin: left center;

  &:before,
  &:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
  }

  &:before {
    margin-bottom: -1px;
    margin-top: -2px;
    border-width: 0 0 calc($sliceHeight / 2 + 4px) ($radius + 25px);
    border-color: transparent transparent $sliceColor transparent;
  }

  &:after {
    margin-top: -1px;
    margin-bottom: -2px;
    border-width: 0 ($radius + 25px) calc($sliceHeight / 2 + 4px) 0;
    border-color: transparent $sliceColor transparent transparent;
  }

  &:nth-child(even) {
    &:after {
      border-color: transparent darken($sliceColor, 10%) transparent transparent;
    }
    &:before {
      border-color: transparent transparent darken($sliceColor, 10%) transparent;
    }
  }

  .label {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 75%;
    line-height: $sliceHeight;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 16px;
    text-align: right;
    padding-left: 20px;
  }

  // $iterator: 0;
  // @for $i from 1 through $numberOfSlices {
  //   &:nth-child(#{$i}) {
  //     transform: rotate($iterator);
  //   }
  //   $iterator: $iterator + $rotation;
  // }
}
