@import '../../assets/saasConfig.scss';


.container {
  position: relative;
  max-width: 800px;
  margin: 2rem auto;
  h1 {
    text-align: center;
  }
  .board {
    position: relative;
    background: $white;
    padding: 50px;
    .spinner-table {
      height: $diameter + 50px;
      width: $diameter + 50px;
      position: relative;
      border-radius: 100%;
      overflow: hidden;
      .dial {
        height: 100%;
        transition: all 5s ease-out;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
      
        &.spinning {
          animation-duration: 5s;
          animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
          animation-name: rotating;
          @keyframes rotating {
            from {
              transform: rotate(var(--restartAngle));
            }
            to {
              transform: rotate(var(--stopAngle));
            }
          }
        }
        
      
        &:before {
          content: '';
          text-align: center;
          display: block;
          line-height: 60px;
          position: absolute;
          height: 50px;
          width: 50px;
          background: $white;
          box-shadow: 0 0 5px 5px rgba($black, 0.1);
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 100%;
          z-index: 200;
        }
      }
    }
    .arrow {
      position: absolute;
      height: 30px;
      width: 50px;
      left: ($diameter + 110px);
      z-index: 500;
      display: block;
      top: 50%;
      transform: translate(-50%,-50%);
      transform-origin: center right;
      .pointer {
        z-index: 500;
        display: block;
        height: 30px;
        width: 50px;
      
        &:before {
          content: '';
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 0 15px 50px;
          border-color: transparent transparent $dark_orange transparent;
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          right: 0;
          bottom: 0;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 50px 15px 0;
          border-color: transparent $dark_orange transparent transparent;
        }
      }
    }
  }
}
.display-container {
  padding: 50px;
  text-align: center;
  span {
    font-size: 36px;
  }
}













