$diameter: 350px;
$radius: calc($diameter / 2);
$circumfrance: calc(6.283185307 * $radius);
$sliceHeight: calc($circumfrance / 46);
$sliceOffeset: calc($sliceHeight / 2);
$sliceColor: #095b8d;
$rotation: calc(360deg / var(--nOfSlices));
$white: #ffff;
$dark_orange: #c27028;
$black: #000000;

body {
  font-family: sans-serif;
  margin: 0;
  background: #e9e9e9;
}
