name: CI/CD

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Clean Install Dependencies
        run: npm ci

      - name: Build Application
        run: npm run build

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: success()

    steps:
      - name: Set up SSH
        run: |
          mkdir -p ~/.ssh/
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -t rsa ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts

      - name: SSH Login and deploy
        run: |
          echo "deploying..."
          ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "cd /${{ secrets.SSH_USER }}/repos/paladins_wheelspin/ && git pull && rm -rf node_modules package-lock.json && npm install && npm run build && sudo mv /${{ secrets.SSH_USER }}/repos/paladins_wheelspin/dist /var/www/paladins_wheelspin"
          echo "deployed"

        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
